.statistics {
  margin-top: 30px;
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  padding: 35px 15px;
  text-transform: uppercase;
}

.stat-list {
  display: flex;

  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  row-gap: 10px;
  padding: 20px;
}

.label {
  font-size: 20px;
}

.percentage {
  font-size: 24px;
  font-weight: 600;
}
